.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
    height: 70px;
    background: rgb(8, 109, 152);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar * {
    color: white;
    text-decoration: none;
}

.navbar *:visited {
    text-decoration: none;
}